@mixin tags {
    border: 1px solid #495678;
    color:#495678;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    padding: 4px 10px;
}