@mixin primary-btn {
    background-color:#DD821F;
    padding:8px 18px;
    border:none;
    border-radius:4px;
    color:#fafafa;
    font-weight:600px;
    font-size: 18px;
    line-height: 26px;
}