@import "./button";

.main{
    padding-left:16px;
    padding-right:16px;
    background-color:#F8F7F9;
}

.menu{
    padding-top:22px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.nav-bottom{
    border:1px solid #BEBEC0;
    border-width: 100%;
    margin-top:22px;

}

.hero-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:24px;
    // background-color: purple;

    .image{
        margin-top:40px;
    }

    .header{
        // background-color:red;
        text-align:center;
        margin-top:18px;
    }
    .paragraph{
        text-align: center;
        margin-top:8px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px
    }

  .btn{
      @include primary-btn();
      margin-top:38px;
  }
}



// Our services section 


.section{
    // background-color:red;
    padding-right:10px;
    padding-left:10px;
    .header{
        padding-top:20px;
        text-align: center;
    }

    .container{
        display: flex;
        justify-content:space-between;

        .one{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:20px;

            .border{    
                border:2px solid #DD821F;
                margin-top:14px;
                width:48px;
            }
            .textBottom{
                margin-top:12px;
                // width:40%;
                // padding-right:24px;
                // padding-left:24px;
            }
        }
        .two{
            background-color: purple;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:20px;

            
        }
    }
    
}


// How it works section 


.how-it-works-section{
    // background-color:#EEEFF2;
    // background-color: royalblue;
    padding-bottom:24px;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;




    .works-header{
        font-size:24px;
        margin-top:58px;
        text-align:center;
    }

    .works-card{
        // border:2px solid black;
        background-color:#FDFEFE;
        border-radius:18px;
        height:200px;
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        height:340px;
        margin-top:40px;


        .circle{
            border-radius: 100%;
            height:74px;
            margin-top:40px;
            width:74px;
            background-color:#495678;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .num{
                font-size:28px;
                color: #fafafa;
            }
        }

        .text{
            margin-top:55px;
            text-align: center;
        }
    }
}


// department section

.department-section{
    // background-color:green;
    padding:20px;  
}

.dept-card{
    background-color:#ffffff;
    // border:2px solid black;
    border-radius: 8px;
    margin-top:58px;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-right:10px;
    padding-left:10px;

    .upper-section{
        // background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:50px;
        .border{
            border:2px solid #DD821F;
            width:114px;
            margin-top:6px;
            .heading{
                text-align: center;
            } 
        }
        .text{
            font-size:16px;
            text-align: center;
            margin-top:24px;
        }
    }

    .lower-section{
        margin-top:24px;
        width:100%;
        // background-color: hotpink;

        .inner-section{
            display: flex;
            justify-content: space-between;
            margin-top:24px;
        }
        
        
       .department-one{
            // background-color:white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:20px;
         

            .border{    
                border:2px solid #DD821F;
                margin-top:14px;
                width:48px;
            }
            .text{
                margin-top:12px;
            }
        }
        .department-two{
            // background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:20px;

            .border{    
                border:2px solid #DD821F;
                margin-top:14px;
                width:48px;
            }
            .text{
                margin-top:12px;
                font-size:16px;
            }

            .find-more{
                margin-top:12px;
                font-size:16px;
                text-decoration:none;
                color:#DD821F;
            }
        }
    }
   
} 


// Footer

.footer-container{
    background-color:#121212;
    padding-left:0;
    padding-right:0;
    margin-right:0;
    margin-left:0;

    
    // margin-left:0px;
    // margin-right:0px;
    // width:100%;
    
    .about-us{
        // background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;

        .about{
            color:#A09292;
            margin-top:52px;
        }

        .about-us-text{
            text-align: center;
            color:#fafafa;
            width:80%;
            margin-top:12px;
        }
    }

    .quick-links{
        // background-color: yellow;
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-top:32px;

        .quick{
            color:#A09292;
        }
        
        .link{
            text-decoration:none;
            margin-top:12px;
            color:#fafafa;
        }
    }

    .more{
        // background-color: purple;
        display:flex;
        flex-direction: column;
        align-items: center;

        .mmore{
            color:#A09292;
            margin-top:32px;
        }
        .more-links{
            text-decoration:none;
            margin-top:12px;
            color:#fafafa;
        }
    }

    .contact-us{
        // background-color: royalblue;
        display: flex;
        flex-direction: column;
        align-items: center;

        .contact{
            color:#A09292;
            margin-top:32px;
        }

        .contact-link{
            text-decoration:none;
            margin-top:12px;
            color:#fafafa;
        }

        .contact-text{
            margin-top:12px;
            color:#fafafa;
        }
    }

    .social-media-icons{
        // background-color:red;
        height:200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-media{
        margin-top:32px;
        color:#A09292;
    }
   
    .social-icons{
        margin-top:12px;
        color:#fafafa;
    }

    .social-media-icon{
        margin-right:10px;
    }

}