.main {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #F8F7F9;
}

.nav-web {
  display: none;
}

.nav-container {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bottom {
  border: 1px solid #BEBEC0;
  border-width: 100%;
  margin-top: 22px;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

.hero-image-mobile {
  margin-top: 40px;
}

.hero-image-web {
  display: none;
}

.hero-below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header-mobile {
  text-align: center;
  margin-top: 18px;
}

.hero-header-web {
  display: none;
}

.hero-paragraph {
  text-align: center;
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.hero-btn {
  background-color: #DD821F;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  font-weight: 600px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 38px;
}

.service-section {
  padding-right: 10px;
  padding-left: 10px;
}

.service-header {
  padding-top: 20px;
  text-align: center;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.service-border {
  border: 2px solid #DD821F;
  margin-top: 14px;
  width: 48px;
}

.textBottom {
  margin-top: 12px;
}

.service-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-it-works-section {
  background-color: #EEEFF2;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 0;
}

.works-header {
  font-size: 24px;
  margin-top: 58px;
  text-align: center;
}

.card-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.works-card {
  background-color: #FDFEFE;
  border-radius: 18px;
  height: 200px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 340px;
  margin-top: 40px;
}

.circle {
  border-radius: 100%;
  height: 74px;
  margin-top: 40px;
  width: 74px;
  background-color: #495678;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.num {
  font-size: 28px;
  color: #fafafa;
}

.works-text {
  margin-top: 55px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.department-section {
  padding: 20px;
}

.dept-card {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.upper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.border {
  border: 2px solid #DD821F;
  width: 114px;
  margin-top: 6px;
}

.dept-heading {
  text-align: center;
}

.dept-text {
  font-size: 16px;
  text-align: center;
  margin-top: 24px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.lower-section {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.dept-left {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.dept-right {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.department-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.department-border {
  border: 2px solid #DD821F;
  margin-top: 14px;
  width: 48px;
}

.department-text {
  margin-top: 12px;
}

.find-more {
  margin-top: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #DD821F;
}

.footer {
  background-color: #121212;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  color: #A09292;
  margin-top: 52px;
}

.about-us-text {
  text-align: center;
  color: #fafafa;
  width: 80%;
  margin-top: 12px;
}

.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.quick {
  color: #A09292;
}

.link {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mmore {
  color: #A09292;
  margin-top: 32px;
}

.more-links {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  color: #A09292;
  margin-top: 32px;
}

.contact-link {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.contact-text {
  margin-top: 12px;
  color: #fafafa;
}

.social-media-icons {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media {
  margin-top: 32px;
  color: #A09292;
}

.social-icons {
  margin-top: 12px;
  color: #fafafa;
}

.social-media-icon {
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
  .nav-web {
    display: block;
  }
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-image-mobile {
    display: none;
  }
  .hero-image-web {
    display: block;
    height: 618px;
    width: 480px;
  }
  .hero-below {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .hero-header-mobile {
    display: none;
  }
  .hero-header-web {
    display: block;
    text-align: left;
    margin-top: 36px;
    font-size: 64px;
    line-height: 86px;
  }
  .hero-paragraph {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    width: 559px;
    line-height: 26px;
  }
  .btn {
    background-color: #DD821F;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    font-weight: 600px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 38px;
  }
  .service-section {
    padding-right: 10px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  .service-header {
    padding-top: 20px;
    text-align: center;
    font-size: 64px;
  }
  .service-container {
    margin-top: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }
  .service-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .border {
    border: 2px solid #DD821F;
    margin-top: 14px;
    width: 48px;
  }
  .textBottom {
    margin-top: 12px;
  }
  .service-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    margin-top: 80px;
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }
  .how-it-works-section {
    background-color: #EEEFF2;
    padding-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works-header {
    font-size: 64px;
    margin-top: 58px;
    text-align: center;
  }
  .card-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
  }
  .works-card {
    background-color: #FDFEFE;
    border-radius: 18px;
    height: 200px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 340px;
    margin-top: 40px;
  }
  .circle {
    border-radius: 100%;
    height: 74px;
    margin-top: 40px;
    width: 74px;
    background-color: #495678;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .num {
    font-size: 28px;
    color: #fafafa;
  }
  .works-text {
    margin-top: 55px;
    text-align: center;
    width: 100%;
  }
  .department-section {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dept-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    width: 90%;
  }
  .upper-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0px;
    padding-left: 48px;
  }
  .dept-heading {
    text-align: left;
    font-weight: 500;
    font-size: 38px;
    line-height: auto;
    margin-top: 0px;
  }
  .border {
    border: 2px solid #DD821F;
    width: 114px;
    margin-top: 16px;
  }
  .dept-text {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-top: 32px;
    width: 70%;
  }
  .lower-section {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    padding-right: 48px;
  }
  .dept-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }
  .dept-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }
  .department-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    width: 154px;
    height: 92px;
  }
  .department-border {
    border: 2px solid #DD821F;
    margin-top: 14px;
    width: 48px;
  }
  .department-text {
    margin-top: 12px;
  }
  .find-more {
    margin-top: 12px;
    font-size: 16px;
    text-decoration: none;
    color: #DD821F;
  }
  .footer {
    background-color: #121212;
    padding: 24px;
    margin-right: 0;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24px;
  }
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 30%;
  }
  .about {
    color: #A09292;
    margin-top: 0px;
    text-align: left;
  }
  .about-us-text {
    text-align: left;
    color: #fafafa;
    width: 70%;
    margin-top: 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .quick-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 0px;
    width: 15%;
  }
  .quick {
    color: #A09292;
    text-align: left;
  }
  .link {
    text-decoration: none;
    margin-top: 12px;
    color: #fafafa;
  }
  .more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 15%;
  }
  .mmore {
    color: #A09292;
    margin-top: 0px;
  }
  .more-links {
    text-decoration: none;
    margin-top: 12px;
    color: #fafafa;
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 25%;
  }
  .contact {
    color: #A09292;
    margin-top: 0px;
  }
  .contact-link {
    text-decoration: none;
    margin-top: 12px;
    color: #fafafa;
  }
  .contact-text {
    margin-top: 12px;
    color: #fafafa;
  }
  .social-media-icons {
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 20%;
  }
  .social-media {
    margin-top: 0px;
    color: #A09292;
    text-align: left;
  }
  .social-icons {
    margin-top: 12px;
    color: #fafafa;
  }
  .social-media-icon {
    margin-right: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */