.main {
  padding-left: 16px;
  padding-right: 16px;
  background-color: #F8F7F9;
}

.menu {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bottom {
  border: 1px solid #BEBEC0;
  border-width: 100%;
  margin-top: 22px;
}

.hero-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

.hero-container .image {
  margin-top: 40px;
}

.hero-container .header {
  text-align: center;
  margin-top: 18px;
}

.hero-container .paragraph {
  text-align: center;
  margin-top: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.hero-container .btn {
  background-color: #DD821F;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  font-weight: 600px;
  font-size: 18px;
  line-height: 26px;
  margin-top: 38px;
}

.section {
  padding-right: 10px;
  padding-left: 10px;
}

.section .header {
  padding-top: 20px;
  text-align: center;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .container .one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.section .container .one .border {
  border: 2px solid #DD821F;
  margin-top: 14px;
  width: 48px;
}

.section .container .one .textBottom {
  margin-top: 12px;
}

.section .container .two {
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.how-it-works-section {
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.how-it-works-section .works-header {
  font-size: 24px;
  margin-top: 58px;
  text-align: center;
}

.how-it-works-section .works-card {
  background-color: #FDFEFE;
  border-radius: 18px;
  height: 200px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 340px;
  margin-top: 40px;
}

.how-it-works-section .works-card .circle {
  border-radius: 100%;
  height: 74px;
  margin-top: 40px;
  width: 74px;
  background-color: #495678;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works-section .works-card .circle .num {
  font-size: 28px;
  color: #fafafa;
}

.how-it-works-section .works-card .text {
  margin-top: 55px;
  text-align: center;
}

.department-section {
  padding: 20px;
}

.dept-card {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.dept-card .upper-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.dept-card .upper-section .border {
  border: 2px solid #DD821F;
  width: 114px;
  margin-top: 6px;
}

.dept-card .upper-section .border .heading {
  text-align: center;
}

.dept-card .upper-section .text {
  font-size: 16px;
  text-align: center;
  margin-top: 24px;
}

.dept-card .lower-section {
  margin-top: 24px;
  width: 100%;
}

.dept-card .lower-section .inner-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.dept-card .lower-section .department-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.dept-card .lower-section .department-one .border {
  border: 2px solid #DD821F;
  margin-top: 14px;
  width: 48px;
}

.dept-card .lower-section .department-one .text {
  margin-top: 12px;
}

.dept-card .lower-section .department-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.dept-card .lower-section .department-two .border {
  border: 2px solid #DD821F;
  margin-top: 14px;
  width: 48px;
}

.dept-card .lower-section .department-two .text {
  margin-top: 12px;
  font-size: 16px;
}

.dept-card .lower-section .department-two .find-more {
  margin-top: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #DD821F;
}

.footer-container {
  background-color: #121212;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

.footer-container .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .about-us .about {
  color: #A09292;
  margin-top: 52px;
}

.footer-container .about-us .about-us-text {
  text-align: center;
  color: #fafafa;
  width: 80%;
  margin-top: 12px;
}

.footer-container .quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.footer-container .quick-links .quick {
  color: #A09292;
}

.footer-container .quick-links .link {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.footer-container .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .more .mmore {
  color: #A09292;
  margin-top: 32px;
}

.footer-container .more .more-links {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.footer-container .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .contact-us .contact {
  color: #A09292;
  margin-top: 32px;
}

.footer-container .contact-us .contact-link {
  text-decoration: none;
  margin-top: 12px;
  color: #fafafa;
}

.footer-container .contact-us .contact-text {
  margin-top: 12px;
  color: #fafafa;
}

.footer-container .social-media-icons {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .social-media {
  margin-top: 32px;
  color: #A09292;
}

.footer-container .social-icons {
  margin-top: 12px;
  color: #fafafa;
}

.footer-container .social-media-icon {
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */